{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:@next/next/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "directory": "./tsconfig.json"
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/function-component-definition": [
      1,
      {
        "namedComponents": "arrow-function"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/button-has-type": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "warn",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "no-unused-vars": "warn",
    "import/prefer-default-export": "off"
  }
}
